.imageManagementWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.imagesForm{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}

.imagesMessage{
    font-size: 18px;
    padding: 15px;
}

.uploadButton{
    background-color: #1b2430;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    min-width: 210px;
    max-width: 300px;
    padding: 15px;
    cursor: pointer;
}

.imageUploaded{
    background-color: #198754;
}

.fail{
    color: #FC100D;
    border-color: #FC100D;
}

.success{
    color: #198754;
    border-color: #198754;
}

.uploadFileBox{
    display:flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 5px 0;
}

.responsiveBox{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.hidden{
    display: none;
}

.imageTypesBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%
}

.imgPreview{
    max-height: 50px;
    padding: 10px;
    border-radius: 5px;
    max-width: 150px;
}

.imgPreviewBackgroundColor {
    background-color: #1b2430;
}

@media (max-width: 1024px) {
    .uploadFileBox{
        width: 90%;
    }
  }

@media (max-width: 780px) {
    .uploadFileBox{
        width: 100%;
    }
    .uploadButton{
        width: 40%;
        min-width: 210px;
        max-width: 300px;
    }
    .responsiveBox {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }

  @media (max-width: 480px) {
    .uploadFileBox {
        width: 95%;
        margin: 0;
        justify-content: space-between;
    }
    .uploadButton {
        font-size: 10px;
        width: 20%;
        min-width: 150px;
    }
    .imgPreview{
        width: 120px;
    }
    .imageTypesBox{
        width: 100%
    }
    .imgLoadedButton {
        margin-top: 5px;
        font-size: 12px;
        min-width: 100px;
    }
  }

  