.headerWrapper {
  height: 15%;
  background-color: #1b2430;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.headerWrapper.hideButtons {
  justify-content: center;
}

.burger{
  display: flex;
  justify-content: flex-start;
  min-width: 100px;
}

.header-logosContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emptyDiv{
  min-width: 100px;
}

.header-logOutBtn:hover {
  color: #fff;
  font-weight: 700;
  font-size: 21px;
}

.header-logOutBtn.hidden {
  display: none;
}

.header-HamburgerIcon {
  color: #d9d9d9;
  background-color: #1b2430;
  font-size: 50px;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
}

.header-HamburgerIcon.hidden {
  display: none;
}

@media (max-width: 780px) {
  .headerWrapper {
    justify-content: center;
    position: relative;
  }
  .burger{
    align-items: center;
  }
  .header-HamburgerIcon {
    position: absolute;
    left: 5%;
    margin-left: 0;
  }
}
