.footerWrapper{
    height: 10%;
    background-color: #1b2430;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
}

.footer-sponsor{
    max-height: 30px;
  }
