.groupResultsWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    overflow: scroll;
}

.globalResultsGraphContainer{
    width: 60%;
    min-height: 60%;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.linksContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkToPoll{
    padding: 10px;
    text-decoration: none;
}

.groupWithoutVotesMessage{
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

@media (max-width: 780px) {
    .globalResultsGraphContainer{
        width: 90%;
    }
  }
