.pollManagementWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.pollManagementWrapper.loading{
  justify-content: center;
}

.groupTitle {
  margin-top: 15px;
} 

.pollsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 15px;
}

.groupName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 400px;
  border-bottom: 1px solid;
  padding-top: 15px;
}

.emptyPollsContainer {
  margin-bottom: 15px;
}

.css-smkl36-MuiCollapse-wrapper {
  justify-content: center;
}

.MuiCollapse-wrapperInner.MuiCollapse-vertical.css-9l5vo-MuiCollapse-wrapperInner {
  width: unset;
}

.pollCard {
  display: flex;
  align-items: center;
}

.activePollCard{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.editContainer{
  display:flex;
}

.addGroupButton{
  width: 400px;
  height: 60px;
  border: 1px solid green;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  color: green;
}

.groupLink{
  text-decoration: none;
  color: #1b2430;
}

@media (max-width: 480px) {
  .emissionTitle {
    width: 300px;
  }

  .addEmissionButton{
    width: 300px;
  }
}
