.pollWrapper{
    width: 45%;
    height: 20%;
    border: 1px solid #1b2430;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin: 5px;
}

.pollName{
    font-size: 25px;
    padding: 15px;
}
