.container {
  width: 100vw;
  height: 100vh;
}

.body {
  width: 100vw;
  display: flex;
  height: 85%;
}

.testView {
  background-color: red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
