.container {
  width: 100vw;
  height: 100vh;
}

.body {
  height: 75%;
  width: 100vw;
  display: flex;
}

.testView {
  background-color: #d9d3ca;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
