.pollOptionWrapper {
  display: flex;
  width: 500px;
  flex-direction: column;
  border: 2px solid #39d1c4;
  color: #39d1c4;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2rem;
}

.pollOptionWrapper.selected {
  background-color: #FF8787;
  color: #FF8787;
}

.pollOptionWrapper:nth-child(n + 2) {
  color: #B8E8FC;
  border-color: #B8E8FC;
}

.pollOptionWrapper.selected:nth-child(n + 2) {
  background-color: #B8E8FC;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 3) {
  color: #BF8B67;
  border-color: #BF8B67;
}

.pollOptionWrapper.selected:nth-child(n + 3) {
  background-color: #BF8B67;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 4) {
  color: #FFC898;
  border-color: #FFC898;
}

.pollOptionWrapper.selected:nth-child(n + 4) {
  background-color: #FFC898;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 5) {
  color: #F6C6EA;
  border-color: #F6C6EA;
}

.pollOptionWrapper.selected:nth-child(n + 5) {
  background-color: #F6C6EA;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 6) {
  color: #AF7AB3;
  border-color: #AF7AB3;
}

.pollOptionWrapper.selected:nth-child(n + 6) {
  background-color: #AF7AB3;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 7) {
  color: #F6C6EA;
  border-color: #F6C6EA;
}

.pollOptionWrapper.selected:nth-child(n + 7) {
  background-color: #F6C6EA;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 8) {
  color: #FFD9C0;
  border-color: #FFD9C0;
}

.pollOptionWrapper.selected:nth-child(n + 8) {
  background-color: #FFD9C0;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 9) {
  color: #AC7D88;
  border-color: #AC7D88;
}

.pollOptionWrapper.selected:nth-child(n + 9) {
  background-color: #AC7D88;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 10) {
  color: #C8F2EF;
  border-color: #C8F2EF;
}

.pollOptionWrapper.selected:nth-child(n + 10) {
  background-color: #C8F2EF;
  color: #ffffff;
}

.titleBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pollTitleBox {
  font-weight: 700;
  margin: 10px;
  text-align: center;
}

.progressBar {
  height: 5px;
  width: 100%;
  background-color: #1b2430;
  border-radius: 5px;
  margin: 10px 0;
}

.votes {
  width: 100%;
  font-size: 12px;
  font-style: italic;
  padding-top: 5px;
  color: #1b2430;
}

@media (max-width: 480px) {
  .pollOptionWrapper {
    width: 300px;
  }
}
