.pollOptionWrapper {
  display: flex;
  width: 500px;
  flex-direction: column;
  border: 2px solid #3FA796;
  color: #3FA796;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2rem;
}

.pollOptionWrapper.selected {
  background-color: #3FA796;
  color: #3FA796;
}

.pollOptionWrapper:nth-child(n + 2) {
  color: #E49B0F;
  border-color: #E49B0F;
}

.pollOptionWrapper.selected:nth-child(n + 2) {
  background-color: #E49B0F;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 3) {
  color: #EF9F9F;
  border-color: #EF9F9F;
}

.pollOptionWrapper.selected:nth-child(n + 3) {
  background-color: #EF9F9F;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 4) {
  color: #FF6464;
  border-color: #FF6464;
}

.pollOptionWrapper.selected:nth-child(n + 4) {
  background-color: #FF6464;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 5) {
  color: #5DA7DB;
  border-color: #5DA7DB;
}

.pollOptionWrapper.selected:nth-child(n + 5) {
  background-color: #5DA7DB;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 6) {
  color: #AF7AB3;
  border-color: #AF7AB3;
}

.pollOptionWrapper.selected:nth-child(n + 6) {
  background-color: #AF7AB3;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 7) {
  color: #54B435;
  border-color: #54B435;
}

.pollOptionWrapper.selected:nth-child(n + 7) {
  background-color: #54B435;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 8) {
  color: #DC758F;
  border-color: #DC758F;
}

.pollOptionWrapper.selected:nth-child(n + 8) {
  background-color: #DC758F;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 9) {
  color: #DC5F00;
  border-color: #DC5F00;
}

.pollOptionWrapper.selected:nth-child(n + 9) {
  background-color: #DC5F00;
  color: #ffffff;
}

.pollOptionWrapper:nth-child(n + 10) {
  color: #8D9EFF;
  border-color: #8D9EFF;
}

.pollOptionWrapper.selected:nth-child(n + 10) {
  background-color: #8D9EFF;
  color: #ffffff;
}

.titleBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pollTitleCard {
  font-weight: 700;
  margin: 10px;
  text-align: center;
}

.progressBar {
  height: 5px;
  width: 100%;
  background-color: #1b2430;
  border-radius: 5px;
  margin: 10px 0;
}

.votes {
  width: 100%;
  font-size: 12px;
  font-style: italic;
  padding-top: 5px;
  color: #1b2430;
}

@media (max-width: 480px) {
  .pollOptionWrapper {
    width: 300px;
  }
}
