.pollDetailWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.pollTitleBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pollTitle {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pollFormBox {
  width: 50%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.pollIcon {
  font-size: 25px;
  cursor: pointer;
  margin-left: 5px;
}

.pollOptionBox {
  display: flex;
  align-items: center;
}

.pollForm {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.pollLabel {
  margin: 15px 0 5px 0;
}

.pollButtonBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.pollButton {
  width: 60%;
  padding: 5px;
  margin-top: 10px;
}

.addQuestionBox {
  width: 100%;
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: center;
}

.loadingState {
  display: flex;
  justify-content: center;
  align-items: center;
}

.valueContainer {
  border: 1px solid #c4c4c4;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.selectedValue {
  border: 1px solid #c4c4c4;
  padding: 5px;
  border-radius: 5px;
  min-height: 2.4375em;
}

.voteCount {
  position: relative;
}

.voteCount::before {
  content: '';
  position: absolute;
  border: 1px solid #c4c4c4;
  width: 100%;
}

.activateButton {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.OptionContainer {
  margin-top: 15px;
}
